<div class="row register">
  <div class="col-sm-10 col-md-8 offser-sm-1 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h4 class="text-center">Registration Form</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="registerForm">
          <!-- user name -->
          <div class="form-group">
            <div class="row">
              <div class="col-4">
                <label for="username">User Name </label>
              </div>
              <div class="col-8">
                <input type="email" name="username" class="form-control" [formControl]="uName" />
              </div>
            </div>
          </div>

          <!-- password -->
          <div class="form-group">
            <div class="row">
              <div class="col-4">
                <label for="password">Password </label>
              </div>
              <div class="col-8">
                <input type="password" name="password" class="form-control" [formControl]="password" />
              </div>
            </div>
          </div>

          <!-- confirm Password -->
          <div class="form-group">
            <div class="row">
              <div class="col-4">
                <label for="conformPassword">Conform Password</label>
              </div>
              <div class="col-8">
                <input type="password" name="conformPassword" class="form-control" />
              </div>
            </div>
          </div>

          <!-- gender , radio -->
          <div class="form-group">
            <div class="row">
              <div class="col-3">
                <label for="gender"> Gender </label>
              </div>

              <div class="col-3">
                <div class="row">
                  <div class="col-4">
                    <input type="radio" name="gender" class="female form-control" [formControl]="genderType" />
                  </div>
                  <div class="col-8"><label class="text-center">Female</label></div>
                </div>
              </div>

              <div class="col-3">
                <div class="row">
                  <div class="col-4">
                    <input type="radio" name="gender" class="male form-control" [formControl]="genderType" />
                  </div>
                  <div class="col-8"><label class="text-center">Male</label></div>
                </div>
              </div>

              <div class="col-3">
                <div class="row">
                  <div class="col-4">
                    <input type="radio" name="gender" class="other form-control " [formControl]="genderType" />
                  </div>
                  <div class="col-8"><label class="text-center">Other</label></div>
                </div>
              </div>

            </div>
          </div>

          <!-- contact number -->
          <div class="form-group">
            <div class="row">
              <div class="col-4">
                <label for="contactNumber">Contact Number</label>
              </div>
              <div class="col-8">
                <input type="number" class="contactNumber form-control" name="contactNumber " />
              </div>
            </div>
          </div>

          <!-- address , drop down -->
          <div class="form-group">
            <div class="row">
              <div class="col-4">
                <label for="address"> Address </label>
              </div>
              <div class="col-8">
                <select name="address" id="city" class="form-control">
                  <option value=""> Please select a language</option>
                  <option *ngFor="let city of cities" [value]="city">
                    {{city}}
                  </option>
                  <!-- <option value="hydrabad">Hydrabad</option>
                  <option value="vizag">vizag</option>
                  <option value="chenni">chenni</option>
                  <option value="bangulore">bangulore</option> -->
                </select>
              </div>
            </div>
          </div>

          <!-- submit button -->
          <div class="form-group">
            <button class="btn btn-block btn-outline-info" (click)="onRegister()">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>